// global website styling
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
$primary: #ccd1ff;
$secondary: #FC90AF;
$linkColor: #cba8e3;
$borderColor: #0f0f0f;
$titleColor: #9c8bd3;
$accent: #2E36AA;
$background: #1a191d;
$hoverColor: #b17fd4;
$blockquoteColor: #e3b35b;
$scrollbarColor: #EDBBCE;
$subtitleColor: #ddd3ed;
$maxWidth: 1000px;
$fontColor: #d9d9d9;
$headerFooterColor: #0f0e11;
$fontFamily: -apple-system, BlinkMacSystemFont, 'Inter', Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

@mixin global {
  @include headers;
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $fontFamily;
    color: $fontColor;
    background-color: $background;
    overflow-x: hidden;
  }

  main {
    min-height: calc(100vh - 270px);
  }
  
  a {
    color: $linkColor;
  }
  
  a:hover {
    color: $hoverColor;
  }

  //scrollbar
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: $headerFooterColor;
  }

  ::-webkit-scrollbar-thumb {
    background: $scrollbarColor;
    border-radius: 0;
  }

  p {
    line-height: 1.1;
  }
}

@mixin headers {
  h1 {
    color: $titleColor;
    font-size: 2.5rem;
  }

  h2, h3, h4 {
    color: $subtitleColor;
    font-size: 1.5rem;
  }
}