// global website styling
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
$primary: #7c779e;;
$secondary: #6449da;
$linkColor: #7736d3;
$borderColor: #0f0f0f;
$titleColor: #cabadf;
$accent: #2E36AA;
$background: #0f061d;
$hoverColor: #50258b;
$blockquoteColor: #e3b35b;
$scrollbarColor: #0f041d;
$subtitleColor: #ddd3ed;
$maxWidth: 1000px;
$fontColor: #b7adc4;
$headerFooterColor: #0a0414;
$fontFamily: -apple-system, BlinkMacSystemFont, 'Inter', Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$fontSans: 'Colfax', 'Inter', sans-serif;

@font-face {
  font-family: 'Colfax';
  src: url("../fonts/Colfax-Regular.otf") format("opentype");
}

@mixin global {
  @include headers;
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $fontFamily;
    color: $fontColor;
    background-color: $background;
    overflow-x: hidden;
  }

  main {
    min-height: calc(100vh - 270px);
  }
  
  a {
    color: $linkColor;
  }
  
  a:hover {
    color: $hoverColor;
  }

  //scrollbar
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: $headerFooterColor;
  }

  ::-webkit-scrollbar-thumb {
    background: $scrollbarColor;
    border-radius: 0;
  }

  p {
    line-height: 1.3;
  }
}

@mixin headers {
  h1 {
    color: $titleColor;
    font-size: 2.5rem;
  }

  h2, h3, h4 {
    color: $subtitleColor;
    font-size: 1.5rem;
  }
}