// global website styling
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,400;0,500;1,200;1,400;1,500&display=swap");

// base colors
$accent: #20af73;
$primary: #c8eede;
$secondary: #f356a4;
$tertiary: #21855f;
$gradient: linear-gradient(to left, $tertiary, #ba68b5);

// backgrounds
$background: #0f2d23;
$headerFooterColor: #06140e;

// element colors
$blockquoteColor: #e3b35b;
$borderColor: #0b0824;
$hoverColor: #f27eff;
$linkColor: #f1e1f6;
$scrollbarColor: #38a185;
$scrollbarHover: #4fcf9a;

// baseline widths
$maxWidth: 980px;
$sidebarCollpaseWidth: 884px;

// font variables
$titleColor: #d4f1df;
$subtitleColor: #d2f9e9;
$fontColor: #ecf6f4;
$fontFamily: -apple-system, BlinkMacSystemFont, "Inter", Roboto, Oxygen, Ubuntu, Cantarell,
  Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$fontSans: "Colfax", "Inter", sans-serif;
$fontMono: "Roboto Mono", "monospace";

@font-face {
  font-family: "Colfax";
  src: url("../fonts/Colfax-Regular.otf") format("opentype");
}

@mixin global {
  @include headers;

  html,
  body {
    margin: 0;
    padding: 0;
  }

  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  body {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $fontFamily;
    font-weight: 300;
    color: $fontColor;
    background: #164127;
    //background: $background; // fallback for older browsers
    //background: -webkit-linear-gradient(45deg, #08061b, #0c0f3d, $background, #070b49);
    //background: linear-gradient(45deg, #08061b, #0c0f3d, $background, #070b49);
    background: linear-gradient(45deg, #051b0e, #082d25, #082115, #023227);
  }

  // gradient underlines from https://nickymeuleman.netlify.app/blog/css-animated-wrapping-underline
  a {
    color: $linkColor;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    background-image: linear-gradient(to right, $hoverColor, $hoverColor),
      linear-gradient(to right, $hoverColor, #d343e9, #007b5c);
    background-repeat: no-repeat;
    border: none;
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }

  a:hover {
    color: $hoverColor;
    cursor: pointer;
  }

  a:hover,
  a:focus {
    background-size: 0 0.1em, 100% 0.1em;
  }

  .is-active {
    background: none;
    :hover {
      color: $hoverColor;
      background: none;
    }
  }

  // scrollbar
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: $background;
  }

  ::-webkit-scrollbar-thumb {
    background: $scrollbarColor;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $scrollbarHover;
  }

  p {
    line-height: 1.3;
    font-size: 1rem;
  }

  button {
    cursor: pointer;
    font-family: $fontMono;
    border: 3px solid $accent;
    border-radius: 8px;
    padding: 0 20px;
    background-color: $background;
    color: $fontColor;
    min-height: 50px;
  }

  button:hover {
    background-color: #2d6959;
  }

  ul {
    list-style-type: circle;
  }

  code {
    font-family: $fontMono;
    color: #e04693;
    background-color: #081c17;
    padding: 2px;
    line-height: 1.3;
  }
}

@mixin headers {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.7rem 0;
  }

  h1 {
    color: $titleColor;
    font-size: clamp(40px, 1.5vw, 2.5rem);
    font-weight: 600;
  }

  h2 {
    color: $subtitleColor;
    font-size: 2.3rem;
    font-weight: 500;
  }

  h3 {
    color: #d5f5e8;
    font-size: 1.8rem;
    font-weight: 300;
  }

  h3 code {
    font-weight: 500;
  }

  h4 {
    color: #c5ded8;
    font-size: 1.6rem;
    font-weight: 400;
  }

  h5 {
    color: #a6cabc;
    font-size: 1.4rem;
  }

  h6 {
    color: #b6e1d3;
    font-size: 1.2rem;
  }
}
