@use 'variables';
@include variables.global;

.about {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  img {
    background: 
    linear-gradient(variables.$background, variables.$background) padding-box,
    variables.$gradient border-box;
    border-radius: 10px;
    border: 4px solid transparent;
    // float: right;
    // margin: 0 2rem 1rem;
  }
}

.skills {

  img {
    max-height: 64px;
    border: none;
  }

  span {
    margin-right: 5px;
  }

}

.aboutContent {

  ul {
    list-style-type: none;
  }
  
  li {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 764px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about img {
    order: 1;
  }

  .aboutContent {
    order: 2;
  }
  
}

@media screen and (max-width: 400px) {
  .headshot {
    height: 200px;
  }
}

@media screen and (max-width: 220px) {
  .headshot {
    height: 150px;
  }
}