@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto+Mono:ital,wght@0,500;1,400&display=swap');
@include variables.global;
$font: 'Roboto Mono', monospace;

.header{
  background-color: variables.$headerFooterColor;
  font-family: $font;
  color: variables.$fontColor;
  padding: 1rem;
  width: 100%;
}

//flex parent container
.headerContainer { 
  display: flex;
  margin: 0 auto;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  max-width: variables.$maxWidth;
  font-size: 1.3rem;
  position: relative;
  z-index: 10;
  padding-left: 1rem;
}

// flex items
.headerNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  img {
    max-height: 30px;
    width: auto;
    float: left;
  }
}

// title styling
.headerTitle {
  letter-spacing: 0.1rem;
  max-width: variables.$maxWidth;
  margin-left: auto;
  margin-right: auto;
  color: variables.$fontColor !important;
  font-size: 1.3rem;
  text-decoration: none;
  :hover {
    background-color: variables.$background;
    color: variables.$titleColor;
    text-decoration: none;
  }
  background: none;
}
