@use "variables";
@include variables.global;

.header {
  background-color: variables.$headerFooterColor;
  font-family: variables.$fontMono;
  color: variables.$fontColor;
  padding: 1.5rem 0;
  z-index: 10;
  position: relative;
}

// flex parent container
.parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 0 3rem;
  font-size: 1.3rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

// title styling
.title {
  letter-spacing: 0.1rem;
  max-width: variables.$maxWidth;
  margin-left: auto;
  margin-right: auto;
  color: variables.$fontColor;
  text-decoration: none;
  :hover {
    background-color: variables.$background;
    color: variables.$titleColor;
    text-decoration: none;
  }
  background: none;
}

.links {
  display: flex;
  align-items: center;
  max-width: variables.$maxWidth;
  gap: 1.5rem;
}

@media screen and (max-width: 625px) {
  .parent {
    flex-direction: column;
  }
  .links {
    gap: 1rem;
  }
}

@media screen and (max-width: 305px) {
  .links {
    flex-direction: column;
    gap: 0.5rem;
  }

  .title {
    text-align: center;
    padding-bottom: 0.3rem;
  }
}
