@use 'variables';
@include variables.global;

.container {
  margin: auto;
  max-width: variables.$maxWidth;
  padding: 1rem 2rem 3.5rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px 100px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  img {
    max-height: 32px;
  }
  section {
    padding: 20px 0px 100px;
  }
}

.sidebar {
  width: 100%;
  height: 140px; // experiment with this value, try changing to 110vh
  position: -webkit-sticky;
  position: sticky;
  top: 80%;
  border: solid 2px variables.$borderColor;
  right: 0%;
  padding-right: 1rem;
}