@use 'variables';
@include variables.global;

$space: 2rem;
$space-xs: calc(var(--space) / 3);
$space-sm: calc(var(--space) / 2);
$space-md: calc(var(--space) * 2);
$offset: $space;

* {
  box-sizing: border-box;
}

.page {
  margin: 0 auto;
  max-width: variables.$maxWidth;
  padding: 1rem 2rem 3.5rem;
}

.index {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

main {
  min-height: calc(100vh - 207px);
}

.article {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 80%;
  max-width: variables.$maxWidth;
  padding: -1rem -2rem -3.5rem;
}

section {
  img {
    max-height: 32px;
  }
  max-width: variables.$maxWidth;
  margin: 0 auto; 
  padding: 1rem 1rem 5rem
}

.sidebar {
  flex-grow: 1;
  flex-basis: 300px;
  align-self: start;
  position: sticky;
  top: 80%;
  padding: 1rem 2rem;
}

.component {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.component .content {
  max-height: 150px;
}

.sidebar .component {
  max-height: calc(100vh - $offset * 2);
}
