@use 'variables';
@use 'layout.scss';
@include variables.global;

.ham {
  position: absolute;
  visibility: hidden;
  z-index: 30;
  opacity: 0;
  margin-top: -5px;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.fullMenu {
  visibility: hidden;
  opacity: 0;
  background: linear-gradient(to left, #743ad5, #d53a9d);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;   
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 5;
  left: 0;
  top: 0; 
  overflow: hidden;
}

.fullNav {
  @extend .nav;
  border: none;
  padding: 0;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  li {
    text-decoration: none;
    font-size: clamp(25px, 5vw, 30px);
    list-style-type: none;
    padding: 0.5rem 0;
  }
}

@media screen and (orientation: landscape) and (max-height: 500px) {
  .fullNav {
    ul {
      flex-direction: row;
      gap: 1rem;
    }
  }
}

.menu-enter {
  transform: translateX(0%);
  transition: transform 0.8s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu-leave {
  transform: translateX(-100%);
  transition: transform 0.8s cubic-bezier(0.77,0.2,0.05,1.0);
}
  
@media screen and (max-width: 884px) {
  .ham {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
  }

  .fullMenu {
    visibility: visible;
    opacity: 1;
  }
}