@use 'variables';
@include variables.global;

.nav {
  button {
    min-width: 5px;
    color: variables.$fontColor;
    background-color: variables.$headerFooterColor;
    cursor: pointer;
  }

  li {
    cursor: pointer;
    text-transform: lowercase;
    color: variables.$linkColor;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    font-size: 1.1rem;
  }
  li:hover{
    color: variables.$hoverColor;
  }
  font-family: Arial, Helvetica, sans-serif;
}