@use 'variables';
@include variables.global;

.nav {
  font-family: variables.$fontSans;
  li {
    cursor: pointer;
    text-transform: lowercase;
    color: variables.$linkColor;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    font-size: 1.1rem;
  }
  
  li:hover{
    color: variables.$hoverColor;
  }
}