@use 'variables';
@include variables.global;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

section {
  img {
    max-height: 32px;
    max-width: 100%;
  }
  max-width: variables.$maxWidth;
  margin: 0 auto 7rem; 
  padding: 1rem;

  h1 {
    margin-bottom: 1.5rem;
  }
}

// Hero section

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0 1.5rem;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  margin: -10vh auto 0;
  position: static;
  z-index: 1;

  h2 {
    font-size: clamp(50px, 10vw, 100px);
    color: variables.$primary;
    line-height: 1;
    margin: 0;
    font-family: variables.$fontSans;
  }

  h3 {
    margin-bottom: 10px;
    line-height: 1.1;
    font-size: clamp(15px, 5vw, 18px);
    color: variables.$subtitleColor;
  }

  p {
    margin-top: 20px;
    max-width: calc(variables.$maxWidth / 2 + 200px);
  }

  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
  } 
}

@media screen and (max-width: 884px) {
  .hero {
    padding-top: 1rem;
    padding-bottom: none;
    min-height: 70vh;
    margin-top: -12rem;
  }
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) and (max-width: 900px) {
  .hero {
    padding-top: 3rem;
  }  
}

// About section

.skills{
  display: grid;
  grid-template-columns: 150px 150px;
  color: variables.$primary;
  font-family: variables.$fontMono;

  ::marker {
    content: "♡ ";
  }
}

@media screen and (max-width: 365px) {
  .skills {
    grid-template-columns: 1fr;
  }
}

// Experience section

.exp {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-row-gap: 50px;
}

.expChild {
  margin-top: 0;
  
  li {
    padding-bottom: 0.5rem;
    font-family: variables.$fontFamily;
  }

  ul {
    margin: 0;
  }

  ::marker {
    content: "♡ ";
  }

  h3 {
    margin: 0;
  }

  h5 {
    margin-top: 5px;
    font-family: variables.$fontMono;
    font-size: 0.9rem;
  }

  img {
    max-height: 16px;
    padding: 2px;
  }
}

@media screen and (max-width: 768px) {
  .exp {
    grid-template-columns: 1fr;
    grid-row-gap: 0px;
  }
}

// Projects Section
.projectList {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(variables.$maxWidth / 4), 1fr));
  grid-row-gap: 30px;
  grid-column-gap: 15px;
  grid-auto-rows: 1fr;
}

$boxColor: #171c49;
.gradientBox {
  background: 
    linear-gradient($boxColor, $boxColor) padding-box,
    linear-gradient(to left, #743ad5, #d53a9d) border-box;
  border-radius: 10px;
  border: 3px solid transparent;
  padding: 1rem;

  .content {
    position: relative;
  
    .title {
      padding: 0;
      margin: 0;
      margin-top: 7px;
    }
  
    .techList {
      font-family: variables.$fontMono;
  
      span {
        padding: 5px;
      }
    }
  }
}

.gradientBox:nth-child(even) {
  background: 
    linear-gradient($boxColor, $boxColor) padding-box,
    linear-gradient(to right, #743ad5, variables.$primary) border-box;
}

// Contact section

.contact {
  input, textarea {
    background-color: #e2e2e7;
    border: 2px solid variables.$borderColor;
    width: 50%;
    padding: 0.5rem;
    border-radius: 4px;
    font-family: variables.$fontMono;
    margin-top: 5px;
  }

  input:focus, textarea:focus {
    background-color: #ddefff;
  }
  
  textarea {
    height: 140px;
    resize: none;
    width: 75%;
  }

  button {
    width: fit-content;
  }

}