@use 'variables';
@include variables.global;

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  margin-top: -50px;
  h2 {
    font-size: clamp(50px, 10vw, 100px);
    color: variables.$secondary;
  }

  h3 {
    margin-bottom: -20px;
  }
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
}