@use 'variables';
@include variables.global;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
$heroTitle: #c3bee5;
.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px !important;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  margin-top: -5rem;
  position: static;
  z-index: 1;

  h2 {
    font-size: clamp(50px, 10vw, 100px);
    color: $heroTitle;
    line-height: 1;
    margin: 0;
    font-family: variables.$fontSans;
  }

  h3 {
    margin-bottom: 10px;
    line-height: 1.1;
    font-size: clamp(15px, 5vw, 16px);
    color: variables.$subtitleColor;
  }

  p {
    margin-top: 20px;
  }

  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
  } 
}

.skills{
  display: grid;
  grid-template-columns: 150px 150px;
  font-family: 'Roboto Mono', monospace;
  color: variables.$primary;

  ::marker {
    content: "♡ ";
  }
}

.exp {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-row-gap: 50px;
}

.expChild {
  li {
    padding-bottom: 0.5rem;
  }

  ul {
    margin: 0;
  }

  ::marker {
    content: "♡ ";
  }

  h3 {
    margin: 0;
  }

  h5 {
    margin-top: 5px;
    font-family: 'Roboto Mono', monospace;
  }

  img {
    max-height: 16px;
    padding: 2px;
  }

  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .exp {
    grid-template-columns: 1fr;
    grid-row-gap: 0px;
  }
}

.contact {
  input, textarea {
    background-color: #e2e2e7;
    border: 2px solid variables.$borderColor;
    width: 50%;
    padding: 0.5rem;
    border-radius: 4px;
    font-family: 'Roboto Mono', monospace;
    margin-top: 5px;
  }

  input:focus, textarea:focus {
    background-color: #e1ddff;
  }
  
  textarea {
    height: 120px;
    resize: none;
  }

  button {
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    border: 3px solid variables.$accent;
    border-radius: 8px;
    padding: 10px;
    background-color: variables.$background;
    color: variables.$fontColor;
    width: 20%;
    height: 50px;
  }
  
  button:hover {
    background-color: #2d3169;
  }
}